*{
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}
#loginForm
{

display: flex;
flex-direction: column;
justify-content: center;
margin-top:150px;
text-align: center;
/* position: relative;
right: 10%; */

}
.error-icon, .error-text{
	display: none;
}

#piclogo {

    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    height: 125px;
    width: 110%;
           
}


    input {
    font-size: medium;
    line-height: 3;
    width: 340px;
    border: 1px solid orange;
    text-align: center;
}
input::placeholder
{
    font-size: medium;
    color: rgba(0, 0, 0, 0.678);
}
button{
    border: none;
    background-color: orange;
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center; 
}

@media only screen and (max-width: 600px) {
	#regform {
	  width: 90%;
	}
  }
